em-emoji-picker {
  /* --background-rgb: 85, 170, 255; */
  --border-radius: 24px;
  --category-icon-size: 24px;
  --color-border-over: rgba(0, 0, 0, 0.1);
  /* --color-border: rgba(0, 0, 0, 0.05); */
  --font-family: 'Comic Sans MS', 'Chalkboard SE', cursive;
  --font-size: 12px;
  --rgb-accent: 255, 105, 180;
  --em-color-border : 
  --rgb-input: 102, 128, 120;

  height: 50vh;
  min-height: 250px;
  max-height: 400px;
  position: absolute;
  z-index: 3;
}
